{% extends "blog/base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<main class="form-signin p-10">
    <div class="container py-5 px-5">
      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">royxatdan otish</h4>
          <form class="needs-validation" novalidate="" method='post'>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">ism</label>
                {% csrf_token %}
                {{ form.first_name}}
                <div class="invalid-feedback">
                  ismni kiriting.
                </div>
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label">familiya</label>
                {{ form.last_name}}
                <div class="invalid-feedback">
                 familiyani kiriting.
                </div>
              </div>
  
              <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  {% csrf_token %}
                  {{ form.username}}
                <div class="invalid-feedback">
                    Usernameni kiriting.
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <label for="email" class="form-label">parol  class="text-muted"(Optional)</label>
                {% csrf_token %}
                {{ form.password1}}
                <div class="invalid-feedback">
                parolni kiriting
                </div>
              </div>
  
              <div class="col-12">
                <label for="address" class="form-label">parolni tasdiqlang</label>
                {% csrf_token %}
                {{ form.password2}}
                <div class="invalid-feedback">
                  parolni tasdiqlang
                </div>
              </div>
              <button class="w-100 btn btn-primary btn-lg mt-5" type="submit">jonatish</button>
          </form>
        </div>
      </div>
    </div>
  </main>

{% endblock %}